
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width:230px;
    height: 200px;
    background-color: coral;
    margin: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}
.card-header{
    font-size: x-small;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 30px;
    background-color: aqua;
}
.card-con{
    width: 200px;
    height: 130px;
}
